anthropic>=0.64.0
demjson3==3.0.6
fastapi==0.116.1
fasttext==0.9.3
huggingface-hub==0.34.4
lingua-language-detector==2.1.1
pandas==2.3.1
PyLaTeX==1.4.2
PyYAML==6.0.2
RapidFuzz==3.13.0
sentence-transformers==5.1.0
tenacity==9.1.2
uvicorn[standard]>=0.34.0
watchdog>=6.0.0